<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div class="d-flex no-block" style="cursor: pointer;">
                  <!-- column -->
                  <div class="m-r-10 no-shrink">
                      <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                          <mat-icon>account_balance_wallet</mat-icon>
                      </button>
                  </div>
                  <!-- column -->
                  <div>
                      <h3 class="m-0">{{transSum |currency:"USD"}}</h3>
                      <h6 class="text-muted m-0">My bills</h6>
                  </div>
              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div class="d-flex no-block" style="cursor: pointer;">
                  <!-- column -->
                  <div class="m-r-10 no-shrink">
                      <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                          <mat-icon>widgets</mat-icon>
                      </button>
                  </div>
                  <!-- column -->
                  <div>
                      <h3  class="m-0"> {{shareSum}} Shares</h3>
                      <h6 class="text-muted m-0">Investments</h6>
                  </div>

              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div class="d-flex no-block" style="cursor: pointer;">
                  <!-- column -->
                  <div class="m-r-10 no-shrink">
                      <button mat-fab color="accent" mat-card-icon class="shadow-none">
                          <mat-icon>stars</mat-icon>
                      </button>
                  </div>
                  <!-- column -->
                  <div>
                      <h3 class="m-0">352</h3>
                      <h6 class="text-muted m-0">Shares</h6>
                  </div>

              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100">
      <mat-card>
          <mat-card-content>
              <!-- Row -->
              <div class="d-flex no-block" style="cursor: pointer;">
                  <!-- column -->
                  <div class="m-r-10 no-shrink">
                      <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                          <mat-icon>settings</mat-icon>
                      </button>
                  </div>
                  <!-- column -->
                  <div>
                      <h3 class="m-0">159</h3>
                      <h6 class="text-muted m-0">Settings</h6>
                  </div>

              </div>
          </mat-card-content>
      </mat-card>
  </div>
  <!-- column -->
</div>

<mat-card class="product-app">
  <mat-card-content>
    <div fxLayout="row wrap" class="align-items-center course-filters">
      <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
        <mat-form-field>
          <mat-label>Search</mat-label>
          <input matInput (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
      <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex="100"></div>
      <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select required [value]="selectedData" (selectionChange)="ddlChange($event)">
            <mat-option value="All" selected>All</mat-option>
            <mat-option value="Agro-Pastoral">Agro-Pastoral</mat-option>
            <mat-option value="Technologie">Technologie</mat-option>
            <mat-option value="Sante">Sante</mat-option>
            <mat-option value="Environement">Environement</mat-option>
            <mat-option value="Energie">Energie</mat-option>
            <mat-option value="Industrie">Industrie</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div fxLayout="row wrap" class="product-app">
  <div fxFlex.gt-md="33.33" fxFlex.gt-lg="50" fxFlex="100" *ngFor='let trans of billList'>
    <mat-card>
      <mat-card-header class="product-header {{trans?.category}}">
        <mat-card-title>
          <span class="product-name">{{trans?.category}}</span>

          <!-- <span class="product-name">Amount: {{trans?.itemCost |currency:"USD"}}</span> -->
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center">
        <h6 class="m-b-5"><b>{{trans?.projectName}}</b> from <b>{{trans?.companyName}}</b></h6>
        <p class="m-b-5">{{trans?.shortDescription}}</p>
        <!-- pie chart with the purchased value representation -->
        <p class="product-duration">Purchased Shares: <b>{{trans?.itemQuantity}}</b> for <b>{{trans?.itemCost |currency:"USD"}}</b></p>
        <small>{{(trans.createdAt).toDate() |date:"mediumDate"}}</small>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <a [routerLink]="['/component/account/tranSingle',trans.id]"> Show more </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

