.card-header {
  &.Technologie {
    background-color: #fc4b6c;
  }

  &.Agro-Pastoral {
    background-color: #1e88e5;
  }

  &.Sante {
    background-color: #26c6da;
  }

  &.Environement {
    background-color: #ff2b64;
  }
  &.Energie {
    background-color: #ff472b;
  }
  &.Industrie {
    background-color: #2bff4bdb;
  }
  &.Mine {
    background-color: #952bffe4;
  }

  color: #fff;

  .mat-card-title {
    font-size: 15px !important;
    display: flex;
    align-items: center;

    .card-duration {
      margin-left: auto;
      display: flex;
      align-items: center;
    }
  }
}

.mat-card-actions {
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  padding: 8px 0 !important;
}
