<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Dashboard

                    </div>
                    <!-- <div fxFlex.gt-md="50" class="text-right">
                      <a routerLink='../tracking/mildGrn'>
                        <button mat-raised-button color="primary">MILD GRN</button>
                      </a>
                    </div> -->
                    <!-- <zxing-scanner (scanSuccess)="onCodeResult($event)"></zxing-scanner>
                    <p>
                      <small>Scan Result</small>
                      <strong>{{scanResult}}</strong>
                    </p> -->
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>
