.card-header {
  &.Technologie {
    background-color: #fc4b6c;
  }

  &.Agro-Pastoral {
    background-color: #1e88e5;
  }

  &.Sante {
    background-color: #26c6da;
  }

  &.Environement {
    background-color: #ff2b64;
  }
  &.Energie {
    background-color: #ff472b;
  }
  &.Industrie {
    background-color: #2bff4bdb;
  }
  &.Mine {
    background-color: #952bffe4;
  }
}
